
  .container .header span{
    border:1px solid #ffa047;
    color: #ffa047;
    font-size: 28px;
    padding: 2px 20px;
    box-shadow: -3px -3px 2px  rgba(255, 160, 71, 0.934);
    border-radius: 20px;
    text-align: center;
  
  }
  
  
  
  body {
    font-family: Varela Round;
    background: #f1f1f1;
  }
  
  a {
    text-decoration: none;
  }
  .card-sl {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 3px 5px 0 rgba(0, 0, 0, 0.07);
    height: 350px;
    width: 90%;
    position: relative;
    /* margin-left: 15px; */
  }
  .card-heading color{
    background-image: linear-gradient(315deg, #FBCC34  0%, #Ff9642  60%);
  }
  .card-image img {
    height: 210px;
    width: 100%;
    border-radius: 8px 8px 0px 0;
  }
  .card-image :hover{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    transition: 0.5s;
  }
  
  .card-heading label{
    /* margin-bottom: 50px; */
    /* color: #314E52; */
    color: linear-gradient(315deg, #FBCC34  0%, #Ff9642  60%);
    
  }
  .card-heading h5{
    /* margin-bottom: 100px; */
    color: #314E52;
    /* margin-top: 20px; */
    font-size: 16px;
  }
  .card-heading h4{
    /* margin-bottom: 150px; */
    color: rgb(51, 51, 51);
font-size: 22px;
margin-top: 10px;
padding-left: 10px;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
  }
  .card-heading h1{
    font-size: 18px;
    margin-top: 10px;
    padding-left: 10px;
  }
  
  .card-heading h5{
    /* margin-bottom: 150px; */
    color: #314E52;
    font-size: 18px;
    margin-top: 8px;
    padding-left: 10px;
  }
  .icon{
    /* background-color: ; */
    /* margin-bottom: 20px; */
    /* background-image: linear-gradient(315deg, #FBCC34  0%, #Ff9642  60%); */
    text-align: center;
    color: #ec994b;
    /* border: black; */
    /* margin-bottom: 40px; */
    border-radius: 8px;
    margin-top: 8px;
  }
  .card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 5px;
    z-index: 2;
    /* color: #ff9642; */
    color: #314E52;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card-action:hover {
    color: #fff;
    background: #ff9642;
    -webkit-animation: pulse 1.5s infinite;
  }
  
  .card-heading {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
   
  }
  
  .card-button {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 35px;
    background-color:transparent;
    color:black;
    border-radius:25px;
    border: 1px solid #ff9642 ;
  /* margin-left: 70px; */
    justify-content: center;
  /* margin-left: 13px; */
  position: absolute;
  text-align: center;
  padding-top: 3px;
  bottom: 13px;
  
  }
  
  .card-button:hover {
    text-decoration: none;
    background-color: #ff9642;
    color: #fff;
  
  }
  
  
  @-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
  
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px #ff9642(90, 153, 212, 0);
    }
  
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 #ff9642(90, 153, 212, 0);
    }
  }
  .card-text label{
    margin-bottom: 30px;
  }
  
  .card-text label{
    margin-left: 20px;
    font-size: 15px;
  }
  
  @media only screen and (min-width: 100px) and (max-width: 349px) {
    .card-sl{
      width: 95%;
    }
  }
  
  @media only screen and (min-width: 350px) and (max-width: 499px) {
    .card-sl{
      width: 80%;
    }
  }
  
  @media only screen and (min-width: 500px) and (max-width: 999px) {
    .card-sl{
    }
    .col-md-6{
      width: 50%;
    }
  }
  
  @media only screen and (min-width: 1000px) and (max-width: 1250px) {
   .col-lg-3{
     width: 33.3%;
   }
  }
  




  @media only screen and (max-width:980px){
    .pagination{
      margin-left: 170px;
    }
  }
  @media only screen and (max-width:480px){
    .pagination{
      margin-left: 80px;
      font-size: 15px;
    }
  }
  @media only screen and (max-width:370px){
    .pagination{
      margin-left: 30px;
      font-size: 10px;
    }
  }