
<div class="container-fluid" >
  <div class="card" style="margin-top: 30px;">
    <div class="row">

      <div class="col-md-4">
        <div>
          <img src="{{templePuja.image}}" class="bigImage" style="margin-top: 10px;margin-bottom: 10px;" alt="">

        </div>
      </div>
      <div class="col-md-8" style="margin-top:17px;">
        <div class="product-description">
          <!-- <span>{{product.catId.name}}</span> -->
          <span>
            {{templePuja.catId.name}}</span>
          <h1 style="margin-top: 10px;"><b> {{templePuja.name}}</b></h1>
          <h2><b> {{templePuja.price}}</b></h2>
          <p style="justify-content: center;">{{templePuja.description}}</p>
          <!-- <p style="justify-content: center;" *ngFor="let point of points">{{point}}</p> -->
          <button class="btn" routerLink="/book-temple-pooja/{{templePuja._id}}">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</div>