<main class="container">

    <!-- Left Column / Headphones Image -->
    <div class="left-column">
     
  <div>    <img src="{{templePuja.image}}" alt=""></div>
  
    
      <!-- <div class="comment">
        <p>Comments</p>
      </div>
     
      <div class="media mb-3" style="padding-top: 20px;">
        <a class="featured-entry-thumb" href="#">
          <img src="../../assets/images/hawanimage.jpg" alt="Product thumb" class="img-fluid mr-4" style="height: 50px; width: 50px; border-radius: 50%; margin-top: 5px;">
        </a>
        <div class="media-body" style="justify-content: center;">
          <h3 class="name">faizan</h3>
          <p class="detail">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quos provident tempora, ipsam unde omnis similique totam asperiores rerum nam, et aperiam molestias enim reiciendis rem quod ducimus atque! Incidunt.</p>
  
        </div>
      </div> -->
  
    </div>
    <!-- Right Column -->
    <div class="right-column">
  
      <!-- Product Description -->
      <div class="product-description">
        <span>
          {{templePuja.catId.name}}</span>
        <h1>{{templePuja.name}}</h1>
        <h2><a >  Price :  </a> 20000</h2>
        <p style="justify-content: center;">{{templePuja.description}}</p>
      </div>
  
  <div>
    <button class="btn btn-success py-3" style=" text-align: center; font-size: 20px;">Book Now</button>
  
  </div>
  
    
  
    </div>
  
  
  
  
    <!-- Product Pricing -->
  
  
  </main>