<div style="background-color: #fff;" class="mt-5">

    <section class=" gradient-form" style="  margin-bottom: 80px;" >
      <div class="container ">
        <div class="row d-flex justify-content-center align-items-center ">
          <div class="col-xl">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg">
                  <div class="card-body p-md-5 mx" style="  padding-bottom: 100px;" >
                   
                    <div class="text-center design mb-5 ">
                      <img src="../../../assets/images/logo2.png"
                        style="width: 180px;" alt="logo">
                        <h1 style="color:#ff9642;font-weight: bolder;text-decoration: none; ">Puja Pratham</h1> 
                    </div>
  
                    <!-- <form> -->
  
                      <div class="form-group" style="font-size: medium;">
                        <i class="fa fa-key mr-2"></i>
  
                        <label class="form-label mt-1 ml-2" for="form2Example11">Enter OTP</label>
                        <input type="text" [(ngModel)]="otp" class="form-control" placeholder="" >
                      </div>
                      <div>
                      <button type="submit" class="btn  " (click)="register()" > Resgister</button>
                      <button type="submit" class="btn " (click)="resendOtp()"> Resend otp</button>
                    </div> 
                     
  
  
                            <!-- <button type="submit" class="btn btn-warning  mt-4" >Send OTP</button> -->
                       
                     <!-- <div class="text-center pt-1 mb-5 pb-1" style="font-size: large;">
                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Send otp</button>
                        <input type="submit" value="send Otp"  class="btn">
  
                      </div>-->
  
  
  
                    <!-- </form> -->
  
                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                  <div class="text-white " style="font-size: large;" >
                    <!-- <h4 class="mb-4" style="font-size:large">We are more than just a website</h4> -->
                   <!-- <div class="container">
                       <div class="row">
  
  
                       </div>
  
                   </div> -->
                   <div class="image mb-5" style="margin-bottom: 100px;">
                   <img src="../../../assets/images/saraswatiji.png"   style="opacity: 0.4;"  alt="" width="100%" height="100%">
                   <p class="large mt-5 ml-5" >
                       <marquee>
                        ॐ सरस्वति नमस्तुभ्यं वरदे कामरूपिणि ।<br>
                        विद्यारम्भं करिष्यामि सिद्धिर्भवतु मे सदा
                        
                        
                    <br>
                   
                    </marquee>
                   
                    </p>
                    <!-- <span style="color: #fff;"><hr> </span> -->
                </div>
                
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- <div> -->
  <!-- </div>
  <button type="submit" class="btn btn-warning mr-1" > Resgister</button>
      <button type="submit" class="btn btn-warning ml-1"> Resend otp</button>
    </div> -->
    <!-- <div class="form-group mb-2" style="font-size: medium;">
                         <label style="margin-left: 100px;">Enter OTP</label> -->
                      
                        <!-- <input type="text" class="form-control mr-3" placeholder="Enter OTP" style="border-radius: 20px;" style="width: 250px;">
                      </div>
                </div>
                <button type="submit" class="btn btn-warning mr-1" > Resgister</button>
                    <button type="submit" class="btn btn-warning ml-1"> Resend otp</button>
                  </div> -->