<form class="modal-content">
    <div class="container">
      <h1><b> Book Temple Pooja </b></h1>
     <br><br>  
      <label><b>Beneficiary Name</b>
        <br></label>
      <input type="text" [(ngModel)]="name" autocomplete="off" placeholder="Beneficiary Name" name="name" required>
      <label><br><b>Contact No.</b>
        <br></label>
      <input type="text" [(ngModel)]="mobile" autocomplete="off" placeholder="Enter Contact Number" name="contact" required>
      <br><br>
      <p>Will You Come </p>
        <input type="radio" value="1" name="come" (change)="changeStatus($event)">
        &nbsp;<label>Yes</label><br>
        <input type="radio" name="come" value="2" (change)="changeStatus($event)">
        &nbsp;<label for="age2">No</label><br>  
        <br><br>
        <label for="psw-repeat"><b>Note :- </b> </label><br>
    <p style="padding-left: 45px;">{{templePooja.name}} will be done by {{templePooja.catId.name}} which is located at {{templePooja.catId.address}} on next {{templePooja.day}} If Pooja will not happpen on that day you will get a notification and pooja will be done on next upcoming {{templePooja.day}}.</p>    </div>
    <button class="btn " (click)="bookNow()">Book Now</button>
  </form>