<section class="section-products">
        <div class="container">
                <div class="row justify-content-center text-center">
                        <div class="col-md-8 col-lg-6">
                                <div class="header">
                                        <span>Popular Packages</span>
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let package of packageList | slice:0:4">
                                <div id="product-1" class="single-product">
                                        <div class="image">
                                                <img src="{{package.image}}" alt="There is supposed to be a picture">
                                        </div>
                                        <div class="part-2">
                                                <h4 class="product-title mt-4">{{package.name}}</h4>
                                                <button class="btn " type="submit" routerLink="/shops/{{package._id}}">Shop now</button>
                                        </div>
                                </div>
                        </div>


                </div>
        </div>
        <div class="container">
                <div class="row justify-content-center text-center">
                        <div class="col-md-8 col-lg-6">
                                <div class="header">
                                        <br>
                                        <span>Popular Products</span>
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let product of productList | slice:0:4">
                                <div id="product-9" class="single-product">
                                        <div class="image">
                                                <img src="{{product.image}}"
                                                        alt="There is supposed to be a picture">
                                        </div>
                                        <div class="part-2">
                                                <h4 class="product-title mt-4">{{product.name}}</h4>
                                                <button class="btn " type="submit" routerLink="/shops/{{product._id}}">Shop now</button>
                                        </div>
                                </div>
                        </div>

                </div>
        </div>
        <div class="container">
                <div class="row justify-content-center text-center">
                        <div class="col-md-8 col-lg-6">
                                <div class="header">
                                        <br>
                                        <span>Audio/Vedio</span>
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let media of mediaList | slice:0:4">
                                <div id="product-17" class="single-product">
                                        <div class="image">
                                                <img src="{{media.image}}" routerLink="media-one/{{media._id}}" alt="There is supposed to be a picture">
                                        </div>
                                        <div class="part-2">
                                                <h4 class="product-title mt-4">{{media.name}}({{media.type}})</h4>
                                                <button class="btn " routerLink="media-one/{{media._id}}" type="submit">Play now</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>