
    .btn {
        display: inline-block;
        margin-top: 1rem;
        padding: .9rem 3rem;
        font-size: 1.7rem;
        background: #ffa047;
        color: #fff;
        cursor: pointer;
      }
      
      .btn:hover {
        background: #fdb068;
      }
    
      
      .banner-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (minmax(30rem, 1fr)),[auto-fit];
        grid-template-columns : repeat(auto-fit, minmax(30rem, 1fr));
        gap: 1.5rem;
      }
      
      .banner-container .banner {
        height: 25rem;
        overflow: hidden;
        position: relative;
      }
      
      .banner-container .banner img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
      }
      
      .banner-container .banner:hover img {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
                transition: 0.5s;
      }
      
      .banner-container .banner .content {
        position: absolute;
        top: 50%;
        left: 2rem;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
      }
      
      .banner-container .banner .content span {
        font-size: 1.7rem;
        color: #779;
      }
      
      .banner-container .banner .content h3 {
        padding-top: .5rem;
        font-size: 2.2rem;
        color: #ffa047;
      }
      
      .banner-container .banner .content .btn {
        padding: .7rem 2.5rem;
      }
      .container h3{
        font-size: 3rem;
        text-align: center;
        background-color:rgb(255, 255, 255);
        padding: 30px;
        color: #ffa047;
        border-radius: 30px;
        border-color:rgb(155, 155, 155);
        border-style: solid;
        border-width: medium;
      }
      .title-heading{
       text-align: center; 
    
      }
      .title-heading span{
        border: solid #779;
        color: #ffa047;
        font-size: 30px;
        padding: 5px 20px;
        box-shadow: -5px -10px 5px  rgba(255, 160, 71, 0.934);
        border-radius: 20px;
      }
      