body {
  font-family: "Poppins", sans-serif;
  color: #314E52;
  /* box-shadow: 0 0 5px #ff9642; */
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.section-products {
  padding: 80px 0 54px;
  
}
.single-product{
  box-shadow: 0 0 5px #ff9642;
}

.section-products .header {
  margin-bottom: 50px;
}

/* .section-products .header h3 {
  font-size: 1rem;
  color: #fe302f;
  font-weight: 500;
} */

.section-products .header h1 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #314E52; 
}
.section-products .header h1:hover{
  -webkit-transform: scale(1.1);
      transform: scale(1.1);
      transition: 0.5s;
      /* background-color: #ff9642; */
      /* color: #fff; */
}

.section-products .single-product {
  margin-bottom: 26px;
}

.section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
  transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
  /* background: url("../../assets/images/diwali9.jpg") no-repeat center; */
  background-size: cover;
  transition: all 0.3s;
}
/* .single-product.image{
  width: 200px;
  height: 150px;
} */

.section-products img{
  width:100%;
  height: 270px;
  background-size: cover;
  transition: all 0.3s;
}
/* .section-products #product-  img{
  width:250px;
  height: 310px;
  background-size: cover;
  transition: all 0.3s;
} */
.section-products img:hover{
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  transition: 0.5s;
}
.section-products #product-2 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}

.section-products #product-3 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}

.section-products #product-4 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}
.section-products #product-5 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}
.section-products #product-6 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}
.section-products #product-7 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}
.section-products #product-8 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}
.section-products #product-9 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  /* background-size: cover; */
}
.section-products #product-10 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}
.section-products #product-11 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}
.section-products #product-12 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}
.section-products #product-13 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}
.section-products #product-14 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}
.section-products #product-15 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}
.section-products #product-16 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}
.section-products #product-17 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}
.section-products #product-18 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}
.section-products #product-19 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}
.section-products #product-20 .part-1::before {
  /* background: url("") no-repeat center; */
  /* background: url("") no-repeat center; */
  background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ffffff;
  background-color: #fe302f;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
  left: 0;
  background-color: #314E52;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 h2 {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 h2 {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #314E52;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
  color: #fe302f;
}

.section-products .single-product .part-2 .product-title h4{
  /* font-size: 10px; */
  /* margin-left: 30px; */
  /* text-align: center; */
  /* margin-left: 50px; */
}

.section-products .single-product .part-2 button{
  /* text-align: center; */
  margin-left: 10px;
  background-color: #ff9642;
  font-size: small;
  margin-bottom: 10px;
  color: #fff;
  
}

/* .section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
} */

.section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #314E52;
  transform: translateY(-50%);
}
.product-title{
  margin-left: 10px;
  margin-bottom: 10px;
}
.section-products .container .header span{
  border: solid #314E52;
  color: #ffa047;
  font-size: 30px;
  padding: 2px 20px;
  box-shadow: -5px -5px 5px  rgba(255, 160, 71, 0.934);
  border-radius: 20px;
}
/* span:hover{
    background-color: #fff;
    color: #ff9642;
} */
.section-products .container .header span:hover{
-webkit-transform: scale(1.1);
      transform: scale(1.1);
      transition: 0.5s;
}
/* @media only screen and (min-width:315){
  .section-products .container .header span{
      border: solid #779;
      color: #ffa047;
      font-size: 30px;
      padding: 2px 20px;
      box-shadow: -5px -10px 5px  rgba(255, 160, 71, 0.934);
      border-radius: 20px;
      width: 100%;
    }
} */