/* .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
i{
    margin-left:350px ;
} */

.box{
    width: 50px;
     height: 30px; font-size: 15px; 
     text-align: center;
}
.name{
    font-size: 15px;
}
.price{
    font-size: 15px;
}

.fa {
    font-size: medium;
    /* margin-left: 30px; */
}

body{
    background: #ddd;
    min-height: 100vh;
    vertical-align: middle;
    display: flex;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}
.title{
    margin-bottom: 5vh;
}
.card{
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
    
    margin-top: 20px;
}
@media(max-width:830px){
    .card{
        margin: 3vh auto;
    }
}
.cart{
    /* border: 1px solid #ff9642; */

    background-color: #fff;
    padding: 2vh ;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:830px){
    .cart{
        padding: 3vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.summary{
    /* background-color: #ff9642; */
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 3vh;
    color: rgb(65, 65, 65);
    /* color: white; */
    /* box-shado; */
    box-shadow: 1px solid #ff9642;
    border: 1px solid rgba(0, 0, 0, 0.137);
}
@media(max-width:830px){
    .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}
.summary .col-2{
    padding: 0;
}
.summary .col-10
{
    padding: 0;
}.row{
    margin: 0;
}
.title b{
    font-size: 2.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
/* .main i{
    margin-left: 50px;

} */
.col-2, .col{
    padding: 0 1vh;
}
a{
    padding: 0 1vh;
}
.close{
    margin-left: auto;
    font-size: 0.7rem;
}
img{
    /* width: 20.5rem; */
    width: 80%;
    height: 95px;
    /* width: 120px;
    height: 100px; */
}
.back-to-shop{
    margin-top: 4.5rem;
    font-size: 2rem;
}
h5{
    margin-top: 3vh;
    margin-bottom: 15px;
}
hr{
    margin-top: 1.25rem;
}
form{
    padding: 2vh 0;
}
select{
    /* border-radius: 15px; */
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
    border: 1px solid #ff9642;
}
input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    /* margin-bottom: 4vh; */
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.btn{
    background-color: #ff9642;
    /* border-color: #; */
    color: #fff;
    width: 80%;
    /* font-size: 0.9rem; */
    height: 35px;
    /* margin-top: 10px; */
    font-size: 15px;
    padding: 5px;
    border-radius: 15px;
    /* height: 35px; */
    display: flex;
    margin: auto;
    justify-content: center;
}
.btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}
.btn:hover{
    color: #ff9642;
    background-color: #fff;
    border: 1px solid #ff9642;

}
a{
    color: black; 
}
a:hover{
    color: black;
    text-decoration: none;
}
 #code{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}
@media only screen and (min-width:767px) and (max-width:915px){
     img{
        /* width: 15.5rem; */
        height: 95px;
        width: 95%;
        /* border-radius: 15%; */
         /* width: ; */
         /* height: 80px; */
     }
     .price{
        font-size: 12px;
    }
    /* .box{
        width: 40px;
         height: 30px; font-size: 15px; 
    } */
}
@media only screen and (min-width:650px) and (max-width:767px){
    img{
       /* width: 15.5rem; */
       height: 95px;
        /* width: ; */
        width: 80%;
        /* height: 80px; */
    }
}

@media only screen and (min-width:550px) and (max-width:650px){
    img{
       /* width: 15.5rem; */
       height: 95px;
        /* width: ; */
        width: 90%;
        /* height: 80px; */
    }
}

@media only screen and (min-width:450px) and (max-width:500px){
    img{
       height: 80px;
        width: 100%;
      
    }
    .box{
        width: 30px;
         height: 30px; font-size: 12px; 
    }
    .name{
        font-size: 12px;
    }
    .price{
        font-size: 12px;
    }
    
}

@media only screen and (min-width:10px) and (max-width:450px){
    img{
       height: 70px;
        width: 100%;
      
    }
    .box{
        width: 30px;
         height: 30px; font-size: 10px; 
    }
    .name{
        font-size: 10px;
    }
    .price{
        font-size: 9px;
    }
    .fa{
        font-size: small;
    }
    
}

@media only screen and (min-width:500px) and (max-width:550px){
    img{
       /* width: 15.5rem; */
       height: 95px;
        /* width: ; */
        width: 100%;
        /* height: 80px; */
    }
}