.title-heading1{
  text-align: center; 
  margin-top: 25px;
 }
.title-heading1 span{
  /* border:1px solid #ffa047;
  color: #ffa047;
  font-size: 28px;
  padding: 2px 20px;
  box-shadow: -3px -3px 2px  rgba(255, 160, 71, 0.934);
  border-radius: 20px;
  text-align: center; */
  
  border: 1px solid #ffa047;
  color: #ffa047;
  font-size: 28px;
  padding: 2px 20px;
  box-shadow: -2px -2px 2px rgb(255 160 71 / 51%);
  border-radius: 20px;
  text-align: center;
 }


 .title-heading2{
  text-align: center; 
  margin-top: 50px;
 }
.title-heading2 span{
  /* border:1px solid #ffa047;
  color: #ffa047;
  font-size: 28px;
  padding: 2px 20px;
  box-shadow: -3px -3px 2px  rgba(255, 160, 71, 0.934);
  border-radius: 20px;
  text-align: center; */
  
  border: 1px solid #ffa047;
  color: #ffa047;
  font-size: 28px;
  padding: 2px 20px;
  box-shadow: -2px -2px 2px rgb(255 160 71 / 51%);
  border-radius: 20px;
  text-align: center;
 }

 body {
  font-family: "Poppins", sans-serif;
  color: #314E52;
  /* box-shadow: 0 0 5px #ff9642; */
}



a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.section-products {
  /* padding: 80px 0 54px;
   */
}
.single-product{
  /* box-shadow: 0 0 5px #ff9642; */
  box-shadow: 0 4px 8px 0 #ff9642;;
}

.section-products .header {
  /* margin-bottom: 50px; */
}

/* .section-products .header h3 {
  font-size: 1rem;
  color: #fe302f;
  font-weight: 500;
} */

.section-products .header h1 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #314E52; 
}
.section-products .header h1:hover{
  -webkit-transform: scale(1.1);
      transform: scale(1.1);
      transition: 0.5s;
      /* background-color: #ff9642; */
      /* color: #fff; */
}

.section-products .single-product {
  /* margin-bottom: 26px; */
  width: 95%;
  height: 100%;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  border-radius: 20px;
}

.section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
  transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
  background-size: cover;
  transition: all 0.3s;
}

.section-products img{
  width:100%;
  height: 270px;
  background-size: cover;
  transition: all 0.3s;
}

.section-products img:hover{
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  transition: 0.5s;
}
.section-products #product-2 .part-1::before {
  background-size: cover;
}

.section-products #product-3 .part-1::before {
  background-size: cover;
}

.section-products #product-4 .part-1::before {
  background-size: cover;
}
.section-products #product-5 .part-1::before {
  background-size: cover;
}
.section-products #product-6 .part-1::before {
  background-size: cover;
}
.section-products #product-7 .part-1::before {
  background-size: cover;
}
.section-products #product-8 .part-1::before {
  background-size: cover;
}
.section-products #product-9 .part-1::before {
}
.section-products #product-10 .part-1::before {
  background-size: cover;
}
.section-products #product-11 .part-1::before {
  background-size: cover;
}
.section-products #product-12 .part-1::before {

  background-size: cover;
}
.section-products #product-13 .part-1::before {
  background-size: cover;
}
.section-products #product-14 .part-1::before {
  background-size: cover;
}
.section-products #product-15 .part-1::before {
  background-size: cover;
}
.section-products #product-16 .part-1::before {
  background-size: cover;
}
.section-products #product-17 .part-1::before {
  background-size: cover;
}
.section-products #product-18 .part-1::before {
  background-size: cover;
}
.section-products #product-19 .part-1::before {
  background-size: cover;
}
.section-products #product-20 .part-1::before {
  background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ffffff;
  background-color: #fe302f;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
  left: 0;
  background-color: #314E52;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 h2 {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 h2 {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #314E52;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
  color: #fe302f;
}

.section-products .single-product .part-2 button{

  margin-left: 10px;
  background-color: #ff9642;
  font-size: 15px;
  margin-bottom: 10px;
  color: #fff;
  border-radius: 20px;
  height: 38px;
  padding: 0 5px;
  display: flex;
  margin: auto;
  padding: 7px;

}

.section-products .single-product .part-2 button:hover{
  color: black;
  background-color: #fab379;
}
.section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #314E52;
  transform: translateY(-50%);
}
.product-title{
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: -webkit-center;
  margin-top: 15px;
}
.section-products .container .header span{
  border:1px solid #ffa047;
  color: #ffa047;
  font-size: 28px;
  padding: 2px 20px;
  box-shadow: -3px -3px 2px  rgba(255, 160, 71, 0.934);
  border-radius: 20px;
  text-align: center;

}
.section-products .container .header span:hover{
-webkit-transform: scale(1.1);
      transform: scale(1.1);
      transition: 0.5s;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #ff9642;
}

.contenedor {
  height: 100%;
  padding: 2% 0;
}

h1 {
  color: #FCFBFA;
}
.container img{
  width: 100%;
  height: 260px;
  border-bottom: 2px solid #ff9642;
  border-radius: 20px;
}
.container_foto {
  background-color: rgba(57, 62, 93, 0.7);
  padding: 0;
  overflow: hidden;
  max-width: 350px;
  margin: 5px;
}

.container_foto article {
  padding: 10%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.text-left i{
  margin-left: 80px;
  color: #fff;
}

.container_foto h2 {
  color: #fff;
  font-weight: 800;
  font-size: 25px;
  border-bottom: #fff solid 1px;
}

.container_foto h4 {
  font-weight: 300;
  color: #fff;
  font-size: 16px;
}

.container_foto img {
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -o-transition: all 4s ease;
  -ms-transition: all 4s ease;
  transition: all 4s ease;
}
.heading h1{
  color: #ffa047;
  text-align: center;
  margin-top: 20px;
}

.ver_mas {
  background-color: #FEB66C;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transform: translate(0px, 70px);
  -webkit-transform: translate(0px, 70px);
  -moz-transform: translate(0px, 70px);
  -o-transform: translate(0px, 70px);
  -ms-transform: translate(0px, 70px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ver_mas span {
  font-size: 40px;
  color: #ff9642;
  position: relative;
  margin: 0 auto;
  width: 100%;
  top: 13px;
}




.container_foto:hover {
  cursor: pointer;
}

.container_foto:hover img {
  opacity: 0.1;
  transform: scale(1.5);
}

.container_foto:hover article {
  transform: translate(2px, -69px);
  -webkit-transform: translate(2px, -69px);
  -moz-transform: translate(2px, -69px);
  -o-transform: translate(2px, -69px);
  -ms-transform: translate(2px, -69px);
}

.container_foto:hover .ver_mas {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  opacity: 1;
}


.card-body {
  margin-top: 2%;
  border-bottom: 2px solid #ff9642 !important; 
  line-height: 1.3;
 height: 335px;
 width: 95%;
 margin: 0 auto; /* Added */
 float: none; /* Added */
 /* margin-bottom: 10px; Added */
 /* margin-top: 15px; */
}

.card-body::after {
  height: 0;
  left: 0;
  bottom: 0;
  border-top: 2px solid #ff9642 !important; 
  line-height: 1.3;
  -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
    transition: all 0.35s;
}

.card-body::before,
.card-body::after {
  background: rgba(#a7c4df,0.5);
  content: '';
  position: absolute;
  z-index: -1;
}

.card-body:hover {
  /* color: #000; */
  border-top: 2px solid #ff9642 !important; 
}

.card-body:after {
  height: 100%;
  color: #fff;
}


.card-body:hover img{
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}


.videos .box-container .box .icons a:hover {
  background: #ffa047;
  color: #fff;
}

.icons i{
    text-align: center;
    color: #ff9642;
    /* color: black; */
    justify-content: center;
    display: flex;
    position: absolute;
    height: 72px;
    width: 72px;
    left: 50%;
    top: 45%;
    margin-left: -36px;
    margin-top: -36px;
    font-size: 25px;
}
.icons i:hover{
color: #fcc69b;
font-size: 30px;
}

.icons h6{
  text-align: center;
  color: #ff9642;
  /* color: #000; */
  justify-content: center;
  display: flex;
  position: absolute;
  height:72px;
  width: 72px;
  left: 50%;
  top: 55%;
  margin-left: -36px;
  margin-top: -36px;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icons h6:hover{
  color: #fcc69b;
}
.icons a{
   text-align: center;
   color: #ff9642;
   /* justify-content: center;
    display: flex;
    position: absolute;
   height: 72px;
    width: 72px;
    left: 50%;
    top: 60%; */
}

/* 
.heading h3 {
  font-size: 2.5rem;

  color: #ffa047;

  text-align: center;
  
  margin-top: 40px;
} */
.card-body {  
  position: relative;
  z-index: 0;
  -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.card-body img{
    width: 100%;
    height: 245px;
    position: relative;
     opacity: 1;
     border-radius: 0%;
}


.card-body h1{
  font-size: 22px;
}
.card-body img:hover{
  opacity: 0.2;
}
.card-body p{
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-img, .card-img-top {
  z-index: 1;
}

.card-text {
  margin-bottom: 1rem;
}
.card-body p{
    color:#314E52 ;
    text-align: center;
} 

@media only screen and (min-width:270px) and (max-width:310px){
  .section-products .single-product{
    width: 94%;
    height: 100%;
  }
  .section-products .container .header span{
  font-size: 20px;
  }
}
@media only screen and (min-width:310px) and (max-width:360px){
  .section-products .single-product{
    width: 94%;
    height: 100%;
  }
  .section-products .container .header span{
  font-size: 20px;
  }
  .card-body{
    width: 85%;
    height: 335px;
  }
}
@media only screen and (min-width:360px) and (max-width:380px){
  .section-products .single-product{
    width: 85%;
    height: 100%;
  }
  .section-products .container .header span{
  font-size: 24px;
  }
  .card-body{
    width: 80%;
    height: 335px;
  }
}

@media only screen and (min-width:380px) and (max-width:420px){
  .section-products .single-product{
    width: 75%;
    height: 100%;
  }
  .section-products .container .header span{
  font-size: 24px;
  }
  .card-body{
    width: 75%;
    height: 335px;
  }
}

@media only screen and (min-width:420px) and (max-width:480px){
  .section-products .single-product{
    width: 70%;
    height: 100%;
  }
  .section-products .container .header span{
  font-size: 24px;
  }
  .card-body{
    width: 70%;
    height: 335px;
  }
}



@media only screen and (min-width:479px) and (max-width:950px){
 .col-md-6{
    width: 50%;
 }
 
}


/* @media only screen and (min-width:1520px) and (max-width:2000px){
  .col-xl-2{
     width: 20%;
  }
  
 } */

