.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:white;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 1.5px;
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
 border-top: 3px solid #779;
 min-width: 150px;
}



.dropdown-content a {
  color: #779;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: white;}
.dropdown-content a:hover {color:   #ffa047;}


.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: #fdb068;}
 


/* codde */

.navbar{
  color: rgb(245, 235, 235) !important;
  background-color: #fdb068 !important;
  /* top:120px;
  
  z-index: 100; */
  position: -webkit-sticky;
  /* position: sticky; */
  margin-top: 120px;
}

.nav-item:hover .nav-link{
  transition: 0.5s ease-in-out;
  color:#779 !important;
  bottom: 0px;
 }

 .nav-item {
font-size: 18px;
margin-left: 16px;
 margin-right: 16px;
 }  


 @media screen and (min-width: 270px) and (max-width:499px){
  .navbar{
    margin-top: 113px;
  }
 }
 @media screen and (min-width: 500px) and (max-width:990px){
  .navbar{
    margin-top: 116px;
  }
 }
 @media screen and (min-width: 991px) and (max-width:1051px){
  .nav-item {
    font-size: 12px;
    margin-left: 14px;
     margin-right: 14px;
     } 
 }
 
 @media screen and (min-width: 1051px) and (max-width:1120px){
  .nav-item {
    font-size: 13px;
    margin-left: 15px;
     margin-right: 15px;
     } 
 }

 @media screen and (min-width: 1121px) and (max-width:1200px){
  .nav-item {
    font-size: 13px;
    margin-left: 15px;
     margin-right: 15px;
     } 
 }

 @media screen and (min-width: 1201px) and (max-width:1312px){
  .nav-item {
    font-size: 16px;
    margin-left: 15px;
     margin-right: 15px;
     } 
 }
 

 @media screen and (min-width: 1450px) and (max-width:1600px){
  .nav-item {
    font-size: 20px;
    margin-left: 18px;
     margin-right: 18px;
     } 
 }

 @media screen and (min-width: 1601px) and (max-width:1800px){
  .nav-item {
    font-size: 24px;
    margin-left: 17px;
     margin-right: 16px;
     } 
 }

 @media screen and (min-width: 1801px) and (max-width:2000px){
  .nav-item {
    font-size: 27px;
    margin-left: 19px;
     margin-right: 19px;
     } 
 }