.banner-container {
    
  /* padding-left: 70px; */
  padding-bottom: 20px;
  gap: 1rem ;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0.5px, 0.5fr));
  grid-template-columns : repeat(auto-fit, minmax(5px, 1fr));
  /* -ms-grid-columns: (minmax(0.5px, 0.5fr)); */
  /* grid-template-columns : repeat(auto-fit, minmax(5px, 1fr)); */
}

.title-heading{
  text-align: center; 
  /* margin-top: 50px; */
 }
 .title-heading span{
  border:1px solid #ffa047;
  color: #ffa047;
  font-size: 28px;
  padding: 2px 20px;
  box-shadow: -3px -3px 2px  rgba(255, 160, 71, 0.934);
  border-radius: 20px;
 }

 .container{
position: relative;
 }
 

 .container img{
   height: 250px;
   width: 90%;
   margin-bottom: 20px;
   margin-top: 20px;
   margin: 0 auto; /* Added */
   float: none; /* Added */
   margin-bottom: 10px; /* Added */

  display: flex;
  justify-content: center;
  text-align: center;
 }

 @media only screen and (max-width:300px){
   .container img{
     height: 190px;
     width: 80%;
   }
 }

 
 @media only screen and (min-width:300px) and (max-width:530px){
   .container img{
     height: 260px;
     width: 80%;
     /* margin-l85eft: 18px; */
   }
 }

 @media only screen and (min-width:531px) and (max-width:949px){
  .container img{
    height: 260px;
    width: 80%;
   
  }
}

 @media only screen and (min-width:950px) and (max-width:1150px){
   .container img{
     height: 250px;
     width: 90%;
   }
   .col-lg-3{
     width: 33.3%;
   }
 }