<main class="container">
    <div class="left-column">
   <iframe width="560" height="315" [src]="link|safePipe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 


 
    </div>
    <div class="right-column">
      <div class="product-description">
        <span>
          {{media.catId.name}}</span>
        <h1>{{media.name}}</h1>
        <h2>Lyrics</h2><br>
        <p style="justify-content: center;">{{media.lyrics}}</p>
      </div>
  <div>
    <a href="{{link}}" target="blank"><button  class="btn btn-warning py-3" style=" text-align: center; font-size: 20px;">Play Now</button></a>
  </div>
    </div>
</main>