<main class="container">
    <div class="left-column">
  <div>    <img src="{{media.image}}" alt=""> 

   </div>
    </div>
    <div class="right-column">
      <div class="product-description">
        <span>
          {{media.catId.name}}</span>
        <h1>{{media.name}}</h1>
        <h2>Lyrics</h2><br>
        <p style="justify-content: center;">{{media.lyrics}}</p>
      </div>
  <div>
    <a href="{{media.link}}" target="blank"><button  class="btn btn-warning py-3" style=" text-align: center; font-size: 20px;">Play Now</button></a>
  </div>
    </div>
</main>