body {
  font-family: Varela Round;
  background: #f1f1f1;
}

#outer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.inner {
  display: inline-block;
}

.msgBtn {
  border: 1px solid #ffb87e;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 7px;
  background: transparent;
  font-size: 13px;
   margin-right: 10px;

}

.msgBtn2 {
  border: 1px solid #ffb87e;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  font-size: 13px;
  /* margin-left: 11px; */
  padding: 7px;
  background-color: #fb641b;
  color: #fff;
  margin-left: 10px;

}

.msgBtn:hover {
  background-color: #ff9642;
  color: #fff;
}

.msgBtn2:hover {
  background-color: #ef783c;
  color:black;
}



.card-heading h1 {
  font-size: 20px;
  padding-top: 5px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.card-heading h2 {
  font-size: 16px;
  padding-top : 5px;
}

.card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  height: 350px;
  width: 90%;
  margin-bottom: 30px;
  position: relative;
}

.card-heading color {
  background-image: linear-gradient(315deg, #FBCC34 0%, #Ff9642 60%);
}

.card-image img {
  height: 200px;
  width: 100%;
  border-radius: 8px 8px 0px 0;
}

.card-image :hover {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  transition: 0.5s;
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 15px;
}


@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px #ff9642(90, 153, 212, 0);
  }

  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 #ff9642(90, 153, 212, 0);
  }
}



@media only screen and (min-width:200px)  and (max-width:499px) {
  .card-image img {
    max-height: 250px;
    width: 100%;
    border-radius: 8px 8px 0px 0;
  }

  .card-sl {
    width: 80%;
  }

  .msgBtn {
    font-size: 15px;
  }

  .msgBtn2 {
    font-size: 15px;
  }

  .msgBtn:hover {
    background-color: #ff9642;
    color: #fff;
  }

  .msgBtn2:hover {
    background-color: #ef783c;
    color: #fff;
  }

}

@media only screen and (min-width:500px)  and (max-width:930px) {

.testing{
  width: 50%;
}

}

@media only screen and (min-width:931px)  and (max-width:1250px) {
 
  .testing{
    width: 33.3%;
  }
  }
