<div *ngIf="packageList.length>0">
    <section class="headin" style="background-color: #fff ; ">
        <h3>Our Packages</h3>
    </section>
        <div class="container">
        <div class="row cardimg">
            <div class="col-md-3" *ngFor="let package of  packageList | slice:0:4" style="margin-top:50px;">
                <div class="card-sl">
                    <div class="card-image">
                        <img src="{{package.image}}" />
                    </div>
                    <a class="card-action"><i class="fas fa-shopping-cart" (click)="addToCart(package._id)"></i></a>
                    <div class="card-heading">
                        <h4>{{package.name}}</h4>
                        <h6>Up to 10% Discount</h6>
                        <h5 for="">Price : <del style="color:red; text-decoration-line: line-through;">3000</del><span id="first" style="color: green;">
                                2700 ₹</span></h5><br>
                        <div class="icon">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                        </div>
                        <a class="card-button">View More</a>
                    </div>
                </div>
            </div>
            <div class="lpg">
                <a routerLink="/shop-general-all/package">View all >></a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="productList.length>0">
    <section class="headin">
        <h3>Our Products</h3>
    </section>
    <div class="container">
        <div class="row cardimg">
            <div class="col-md-3" *ngFor="let product of productList | slice:0:4" style="margin-top:50px;">
                <div class="card-sl">
                    <div class="card-image">
                        <img src="{{product.image}}" />
                    </div>

                    <a class="card-action"><i 
                         class="fas fa-shopping-cart" (click)="addToCart(product._id)"></i></a>
                    <div class="card-heading">
                        <h4>{{product.name}}</h4>


                        <h6>Up to {{product.discount}}% Discount</h6>
                        <h5 for="">Price : <del style="color:red;">100</del><span id="first" style="color: green;">
                                {{product.price}} ₹</span></h5><br>

                        <div class="icon">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                        </div>
                        <a class="card-button">View More</a>
                    </div>
                </div>
            </div>

            <div class="lpg">
                <a routerLink="/shop-general-all/product">View all >></a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="photoFrameList.length>0">
    <section class="headin">
        <h3>Photo Frames</h3>
    </section>
    <div class="container">
        <div class="row cardimg">
            <div class="col-md-3" *ngFor="let frams of photoFrameList | slice:0:4"  style="margin-top:50px;">
                <div class="card-sl">
                    <div class="card-image">
                        <img src="{{frams.image}}" />
                    </div>

                    <a class="card-action"><i class="fas fa-shopping-cart" (click)="addToCart(frams._id)"></i></a>
                    <div class="card-heading">
                        <h4>{{frams.name}}</h4>


                        <h6>Up to 10% Discount</h6>
                        <h5 for="">Price : <del style="color:red;">100</del><span id="first" style="color: green;"> 90
                                ₹</span></h5><br>
                        <div class="icon">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                        </div>
                        <a class="card-button">View More</a>
                    </div>
                </div>
            </div>

            <div class="lpg">
                <a routerLink="/shop-general-all/photo">View all >></a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="murtiList.length>0">
    <section class="headin">
        <h3>Murti</h3>
    </section>
    <div class="container">
        <div class="row cardimg">
            <div class="col-md-3" *ngFor="let murti of murtiList | slice:0:4" style="margin-top:50px;">
                <div class="card-sl">
                    <div class="card-image">
                        <img src="{{murti.image}}" />
                    </div>

                    <a class="card-action"><i class="fas fa-shopping-cart" (click)="addToCart(murti._id)"></i></a>
                    <div class="card-heading">
                        <h4>{{murti.name}}</h4>


                        <h6>Up to {{murti.discount}}% Discount</h6>
                        <h5 for="">Price : <del style="color:red;">100</del><span id="first" style="color: green;">
                                {{murti.price}}} ₹</span></h5><br>
                        <div class="icon">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                        </div>
                        <a class="card-button">View More</a>
                    </div>
                </div>
            </div>

            <div class="lpg">
                <a routerLink="/shop-general-all/Murti">View all >></a>
            </div>
        </div>
    </div>
</div>