


 
  .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background:#ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }

  
.fixed-top{
  z-index: 994;
}
  

 
  .header {
    padding: 2rem 9%;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; */
  
    background: #faf6f2f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .header .logo {
    font-size: 2.5rem;
    color: #fd860e;
    font-weight: bolder;
    text-decoration: none;
  }
  
  .header .logo img {
  
    height:80px;
    width:90px;
  }
  
  .header .search-form {
    height: 5rem;
    width: 30rem;
   
    border-radius: 5rem;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid #fd860e;
    /* margin-right: 100px; */
  
  }
  
  .header .search-form input {
    height: 100%;
    width: 100%;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: #fd860e;
    text-transform: none;
    text-decoration: none;
    outline: none;
    border: 0;
   
  }
  
  .header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.7rem;
    cursor: pointer;
    color: #fd860e;
   
  }
  
  .header .search-form label:hover {
    /* color:#fd860e; */
    color: rgb(248, 188, 99);
  }
  
  .header .icons div {
    margin-left: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: #fd860e;
  }
 
  
  .header .icons div:hover {
    color: rgb(248, 188, 99);
  }
  
  #search-btn {
    display: none;
  }
  
  @media only screen and (max-width: 900px) {
    .header .logo {
      font-size: 2rem;
    }
  }
  @media only screen and (max-width: 750px) {
    .header .logo {
      font-size: 1.7rem;
    }
  }

  @media only screen and (max-width: 350px) {
    .header .logo {
      font-size: 1.5rem;
    }

    .header .icons div{
      font-size: 1.3rem;
      margin-left: 1rem;
    }

  }


  /* end */
  
  @keyframes rotate {
    0% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0;
    }
  }
  
#closer {
    position: fixed;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    cursor: pointer;
    z-index: 10000;
    color: #ffa047;
    -webkit-animation: rotate .4s linear .4s backwards;
            animation: rotate .4s linear .4s backwards;
    display: none;
  }
  
  #closer:hover {
    color: #779;
  }
  
  .navbar-main {
    position: fixed;
    top: 0;
    right: -101%;
    z-index: 1000;
    width: 35rem;
    height: 100vh;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  
  .navbar-main.active {
    right: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
    -webkit-transition: .4s linear;
    transition: .4s linear;
  }
  
  .navbar-main a {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: #ffa047;
  }
  
  .navbar-main a:hover {
    color: #779;
  }
 
  
  .shopping-cart {
    position: fixed;
    top: 0;
    right: -101%;
    z-index: 1000;
    width: 35rem;
    height: 100vh;
    background: #fff;
    padding: 2rem;
    padding-top: 8rem;
    overflow-y: scroll;
  }
  
  .shopping-cart.active {
    right: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
    -webkit-transition: .4s linear;
    transition: .4s linear;
  }
  
  .shopping-cart::-webkit-scrollbar {
    width: 1rem;
  }
  
  .shopping-cart::-webkit-scrollbar-track {
    background: #fff;
  }
  
  .shopping-cart::-webkit-scrollbar-thumb {
    background: #ffa047;
  }
  
  .button{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    display: flex;;
    justify-content: center;
  }
  .shopping-cart .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
    position: relative;
    margin-bottom: 1rem;
    /* height: 2000px; */
  }
  
  .shopping-cart .box .fa-times {
    position: absolute;
    top: 12%;
    right: 0.6rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 2rem;
    color: #ffa047;
    cursor: pointer;
  }
  
  .shopping-cart .box .fa-times:hover {
    color:  rgb(248, 188, 99);
  }
  
  .shopping-cart .box img {
    height: 8rem;
  }
  
  .shopping-cart .box .content h3 {
    color: #ffa047;
    font-size: 1.8rem;
    padding-bottom: .5rem;
  }
  
  .shopping-cart .box .content span {
    font-size: 1.5rem;
    color: #779;
  }
  
  .shopping-cart .box .content span.multipy {
    margin: 0 1rem;
  }
  
  .shopping-cart .total {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    color: #779;
  }
  
  .shopping-cart .total span {
    color: #ffa047;
  }
  
  .shopping-cart .btn {
    width: 60%;
    text-align: center;
    background-color:#ffa047;
    color: #fff;
    margin: 1rem 0;
   font-size: 15px;
    height: 35px;
    border-radius: 20px;
    padding: 5px;
    
  }

  .shopping-cart .btn:hover{
    color: black;
    background-color:#eeae71 ;
  }

  
  .login-form {
    position: fixed;
    top: 0;
    right: -101%;
    z-index: 1000;
    width: 35rem;
    height: 100vh;
    background: #fff;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .login-form.active {
    right: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
    -webkit-transition: .4s linear;
    transition: .4s linear;
  }
  
  .login-form form {
    padding: 1.7rem;
    border: 0.1rem solid #ffa047;
  }
  
  .login-form form h3 {
    font-size: 2.2rem;
    padding-bottom: 1rem;
    color: #ffa047;
  }
  
  .login-form form .box {
    width: 100%;
    text-transform: none;
    font-size: 1.5rem;
    color: #ffa047;
    padding: 1rem 1.2rem;
    border: 0.1rem solid #ffa047;
    margin: .7rem 0;
  }
  /* btn:hover {
    color: #212529;
} */
  
  .login-form form .btn {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    color: white;
    background-color: #fd860e;
    /* display: inline-block; */
    padding: 0.9rem 3rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .login-form form .btn:hover{
    color: black;

    background-color: #ffa047;
  }
  
  .login-form form p {
    padding-top: 2px;
    font-size: 1.4rem;
    color: #779;
  }
  
  .login-form form p a {
    color: #ffa047;
  }
  
  .login-form form p a:hover {
    text-decoration: underline;
  }
  
  .user-profile {
    position: fixed;
    top: 0;
    right: -101%;
    z-index: 1000;
    width: 35rem;
    height: 80vh;
    background: #fff;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .dash .active {
    right: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
    -webkit-transition: .4s linear;
    transition: .4s linear;
  }
  .box {
    padding: 1.7rem;
    border: 0.1rem solid #ffa047;
    text-align: center;
    margin-top: 30px;
  }
  .dash h3 {
    font-size: 2.2rem;
    padding-bottom: 1rem;
    color: #ffa047;
  }
  .dash img{
    border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  .dash .btn {
    margin: 1rem 0;
    width: 70%;
    height: 35px;
    text-align: center;
    color: #fff;
    background-color:#ffa047 ;
    border-radius: 25px;
    font-size: 15px;
    padding-top: 4px;
  }

  .dash .btn:hover{
       color: black;
       background-color:#f7af6d ;
  }
  
  .dash p {
    padding-top: 2px;
    font-size: 2.4rem;
    color: #779;
    text-align: center;
  }
  
  .dash a {
    color: #ffa047;
    /* padding-right: 50px; */
    padding-top: 2px;
    font-size: 2rem;
  }

  .dash h2{
    color:#ffa047 ;
    padding: 3px;
  }
  
  .dash a:hover {
    text-decoration: underline;
  }

  .loginuser{
    font-size: 100px;
  }


  @media (min-width: 385px) and (max-width: 440px){
.box{
  margin-top: 0;
}
  }


  
  @media (max-width: 991px) {
    html {
      font-size: 55%;
    }
    .header {
      padding: 2rem;
    }
    section {
      padding: 3rem 2rem;
    }
    .home #slide-next,
    .home #slide-prev {
      top: 95%;
    }
    .home #slide-prev {
      left: auto;
      right: 8rem;
    }
  }
  
  @media (max-width: 700px) {
    #search-btn {
      display: inline-block;
    }
    .header .search-form {
      position: absolute;
      
    }
    
  }

  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .home .slides-container .slide .content h3 {
      font-size: 4rem;
    }
    .heading {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      gap: 1rem;
    }
  }

@media only screen and (min-width:270px) and (max-width:350px){
  .header .search-form{
     width: 15rem;
  }
}

@media only screen and (min-width:350px) and (max-width:400px){
  .header .search-form{
    width: 18rem;
  }
}
@media only screen and (min-width:400px) and (max-width:600px){
  .header .search-form{
    width: 21rem;
  }
}
