<!-- header section starts  -->

<header class="header">

    <a routerLink="" class="logo"><img src="../../../assets/images/logo2.png" alt="">Puja Pratham</a>

    <form class="search-form" id="search" #search>
        <input  name="a" placeholder="search here..."
            id="search-box" (keyup)="searchProduct($event)">
        <a><label for="search-box" class="fas fa-microphone" (click)="searching()"></label></a>
    </form>
<audio src="../../../assets/audios/mic.wav"></audio>
    <div class="icons">
        <div id="search-btn" class="fas fa-search" (click)="searchBtn(search)"></div>
    <div id="menu-btn" class="fas fa-bars" (click)="navLinks(nav)"></div>
   
    <div id="cart-btn" class="fas fa-shopping-cart" (click)="showCart(cart)" ></div>
    <div id="login-btn" class="fas fa-user"(click)="showLogin(login)" ></div>

</div>
</header>

<div id="closer" #closer class="fas fa-times" (click)="closeBar()"></div>

<nav class="navbar-main" id="nav" #nav>

    <a routerLink="" (click)="closeBar()" >home</a>
    <a routerLink="/shop" (click)="closeBar()" routerLink="shop-general">shop</a>
    <a routerLink="/media" (click)="closeBar()">Audio/Videos</a>
    <a routerLink="/about" (click)="closeBar()">about</a>
    <a routerLink="/contact" (click)="closeBar()">contact</a>
</nav>

<div class="shopping-cart" id="cart" #cart>
    <div *ngIf="userIsLoggedIn(); else cartElse">
        <div class="box" *ngFor="let pro of cartList">
            <i class="fas fa-times" (click)="removeFormCart(pro._id)"></i>
            <img src="{{pro.image}}" alt="">
            <div class="content">
                <h3>{{pro.name}}</h3>
                <span class="price"> {{pro.discountedPrice}}</span>
            </div>
        </div>
        <div *ngIf="checkCart(); else cartMessage">
        <h3 class="total"> total : <span>{{totalPrice}}</span> </h3>

        <a (click)="checkout()" (click)="closeBar()" class="btn">checkout cart</a>
    </div>
        <ng-template #cartMessage>
            <h1>No Items added to the Cart</h1>
        </ng-template>
    </div>
</div>

<ng-template #cartElse>
    <h1>Please Login First</h1>
     <!-- Navbar-collapse -->
  
     <ul class="top-menu list-inline mb-0 d-none d-lg-block" id="top-menu">
        <li class="list-inline-item">
          <a href="#" class="search_toggle" id="search-icon"><i class="tf-ion-android-search"></i></a>
        </li>
  
        <li class="dropdown cart-nav dropdown-slide list-inline-item">
          <a href="#" class="dropdown-toggle cart-icon" data-toggle="dropdown" data-hover="dropdown">
            <i class="tf-ion-android-cart"></i>
          </a>
          <div class="dropdown-menu cart-dropdown">
            <!-- Cart Item -->
            <div class="media">
              <a href="#">
                <img class="media-object img- mr-3" src="assets/images/cart-1.jpg" alt="image" />
              </a>
              <div class="media-body">
                <h6>Ladies Bag</h6>
                <div class="cart-price">
                  <span>1 x</span>
                  <span>1250.00</span>
                </div>
              </div>
              <a href="#" class="remove"><i class="tf-ion-close"></i></a>
            </div><!-- / Cart Item -->
  
            <!-- Cart Item -->
            <div class="media">
              <a href="#">
                <img class="media-object img-fluid mr-3" src="assets/images/cart-2.jpg" alt="image" />
              </a>
              <div class="media-body">
                <h6>Skinny Jeans</h6>
                <div class="cart-price">
                  <span>1 x</span>
                  <span>1250.00</span>
                </div>
              </div>
              <a href="#" class="remove"><i class="tf-ion-close"></i></a>
            </div><!-- / Cart Item -->
  
            <div class="cart-summary">
              <span class="h6">Total</span>
              <span class="total-price h6">$1799.00</span>
  
              <div class="text-center cart-buttons mt-3">
                <a href="#" class="btn btn-small btn-transparent btn-block">View Cart</a>
                <a href="#" class="btn btn-small btn-main btn-block">Checkout</a>
              </div>
            </div>
          </div>
        </li>
        <li class="list-inline-item"><a href="#"><i class="tf-ion-ios-person mr-3"></i></a></li>
      </ul>
</ng-template>

<!-- login form  -->
<div class="login-form" id="login" #login>
    <form action="" *ngIf="!userIsLoggedIn(); else elseBlock">
        <h3>login form</h3>
        <input type="email" placeholder="enter your email" class="box" [(ngModel)]="email" name="s">
        <input type="password" placeholder="enter your password" class="box" [(ngModel)]="password" name="d">
        <input type="submit" value="login as user" class="btn" (click)="loginAsUser()">
        <p>login as user with :<a href="#" (click)="socialLogin()">Google</a></p>
        <p>forget password? <a (click)="forgetPassword()">click here</a></p>
        <p>don't have an account? <a routerLink="signup">create now</a></p>
    </form>
</div>
<!-- <audio src="../../../assets/audios/translate_tts.mp3"></audio> -->
<ng-template #elseBlock>
    <div class="box">
        <div class="dash">
            <h3>user profile</h3>
            <img src="{{userProfile.image}}" alt="">
            <p>{{userProfile.name}}</p>
            <p><a routerLink="/edit-profile/{{userProfile.id}}">Edit Profile</a></p>
            <p><a >Order history</a></p>
            <p><a >Remove account</a></p>
            <p><a >Help</a></p>

            <input type="submit" value="sign out" class="btn" (click)="signout()">
        </div>
    </div>
</ng-template>