<div class="container" style="margin-top:50px;">
    <div class="row cardimg">
        <div class="col-md-3" *ngFor="let event of events">
            <div class="card-sl">
                <div class="card-image">
                    <img
                        src="{{event.image}}"/>
                </div>
                <div class="card-heading">
                  <h1>{{event.name}}</h1>
                    <h2 for="">Price :  {{event.price}}</h2>          
                </div>   
                <div class="icon">
                    <button class="btn btn-success ml-5 p-3 pr-5" style="border-radius:10%;">Book Now</button>
                    <button class="btn btn-warning ml-5 p-3 pr-5" routerLink="/event-one/{{event._id}}" style="border-radius:10%;">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6UDcWF8pfmJrM3QBv0UASp?utm_source=generator" width="50%" height="315" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2WuuCY9Wqwo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->