<ngx-spinner
bdColor="#fff"
size="medium"
color="#fff"
type = "ball-clip-rotate"
[fullScreen] = "true"
template="<img src='../../../assets/images/Spinner-1s-200px.gif' />"
>
</ngx-spinner>
<div class="container">
    <div class="row cardimg">
        <div class="col-md-6 col-lg-3 testing" *ngFor="let event of events">
            <div style="display: flex; justify-content: center;">      
            <div class="card-sl" style="margin-top:40px;">
                <div class="card-image">
                    <img src="{{event.image}}" />
                </div>
                <div class="card-heading">
                    <!-- <h1>{{event.name}}</h1>
                    <span id="first"  style="color: green;">₹ {{event.price}} </span> -->
                    <h1>{{event.name}}</h1>
                    <span id="first"  class="ml-4 faiz" style="color: rgb(51, 51, 51);font-size: 24px;font-family:Mier bold;">₹ {{event.price}} </span>
  
  

                </div>
                <div id="outer">
                    <div class="inner" >
                        <button type="submit" style="display: flex; justify-content: center;" routerLink="/event-one/{{event._id}}" 
                        class="msgBtn" onClick="return false;">Read More</button>
                    </div>
                    <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
                    <div class="inner">
                        <button type="submit" style="display: flex; justify-content: center;" class="msgBtn2" onClick="return false;" 
                        routerLink="/bookEvent/{{event._id}}">Book Now</button>
                        </div>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>


