<section class="heading">
    <h1>Audios</h1>    
  </section>
  <div class="container">
   <div class="row flex-xl-nowrap">
     
     <div class="card-deck">
         <div class="card border-0 col-sm-4 p-0" *ngFor="let aud of audios">
           <div class="card-body">
               <img src="{{aud.image}}" alt="" routerLink="/media-one/{{aud._id}}">
               <div class="icons">
                   <a href="" ><i class="fa fa-play"></i><h6>Play Now</h6></a>
                     
                 </div>
             <p class="card-text font-weight-bold programme-title lead">{{aud.name}}</p>
             
           </div>
         </div>
 </div>
 </div>
</div>
  <section class="heading">
    <h3>videos</h3>    
</section>
<div class="container">
    <div class="row flex-xl-nowrap">
      
      <div class="card-deck">
          <div class="card border-0 col-sm-4 p-0" *ngFor="let vid of videos">
            <div class="card-body">
                <img src="{{vid.image}}" alt="" routerLink="/media-one/{{vid._id}}">
                <div class="icons">
                    <a href="" ><i class="fa fa-play"></i><h6>Play Now</h6></a>
                      
                  </div>
              <p class="card-text font-weight-bold programme-title lead">{{vid.name}}</p>
              
            </div>
          </div>
  </div>
  </div>
</div>
