<!-- <main class="container">
    <div class="left-column">     
  <div>    <img src="{{event.image}}" alt=""></div>
      </div>
    <div class="right-column">
      <div class="product-description">
        <span>
          {{event.catId.name}}</span>
        <h1>{{event.name}}</h1>
        <h2><a >  Price :  </a> {{event.price}}</h2>
        <p style="justify-content: center;">{{event.description}}</p>
      </div>
  
  <div>
    <button class="btn btn-success py-3" style=" text-align: center; font-size: 20px;">Book Now</button>
  
  </div>

    </div>
  

  </main> -->

  
<div class="container-fluid" >
  <div class="card" style="margin-top: 30px;">
    <div class="row">

      <div class="col-md-4">
        <div>
          <img src="{{event.image}}" class="bigImage" style="margin-top: 10px;margin-bottom: 10px;" alt="">

        </div>
      </div>
      <div class="col-md-8" style="margin-top:17px;">
        <div class="product-description">
          <!-- <span>{{product.catId.name}}</span> -->
          <span>
            {{event.catId.name}}</span>
          <h1 style="margin-top: 10px;"><b> {{event.name}}</b></h1>
          <span id="first"  class="ml-4 faiz" style="color: rgb(51, 51, 51);font-size: 24px;font-family:Mier bold;font-weight: bold;">₹ {{event.price}} </span>
          <p style="justify-content: center;">{{event.description}}</p>
          <!-- <p style="justify-content: center;" *ngFor="let point of points">{{point}}</p> -->
          <button class="btn" routerLink="/bookEvent/{{event._id}}" >Book Now</button>
          <!-- routerLink="/bookEvent/{{event._id}} -->
        </div>
      </div>
    </div>
  </div>
</div>