
section {
    padding: 3rem 9%;
  }
.footer {
 
    background: #faf6f2f5;
    
  } 
  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    background: #ffa047;
    color: #fff;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #fdb068;
  }
  
  
  .footer .box-container {
    right: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr)),[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #ffa047;
    padding: 1rem 0;
  }
  
  .footer .box-container .box p {
    font-size: 1.6rem;
    color: #779;
    padding-bottom: 1rem;
  }
  
  .footer .box-container .box a {
    font-size: 1.4rem;
    color: #779;
    padding: 1rem 0;
    display: block;
  }
  
  .footer .box-container .box a:hover {
    color: #ffa047;

  }
  
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
    transition: 0.5s ease-in-out;
  }
  
  .footer .box-container .box a i {
    padding-right: .5rem;
    color: #ffa047;
  }
  .footer .box-container .box form input[type="email"] {
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #ffa047;
    text-transform: none;
    margin: .7rem 0;
    border: 0.1rem solid #ffa047;
  }
  .footer .box-container .box form input[type="text"] {
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #ffa047;
    text-transform: none;
    margin: .7rem 0;
    border: 0.1rem solid #ffa047;
  }
  
  
.credit {
    padding-top: 40px;
    height: 130px;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: #ffa047;
  }