<ngx-spinner
bdColor="#fff"
size="medium"
color="#fff"
type = "ball-clip-rotate"
[fullScreen] = "true"
template="<img src='../../../assets/images/Spinner-1s-200px.gif' />"
>
</ngx-spinner>
<div class="container" >
  <div class="row cardimg">
      <div class="col-md-6 col-lg-3"  *ngFor="let product of typeList| paginate:  { itemsPerPage: 12, currentPage: p, totalItems: total }">
          <div style="display: flex; justify-content: center;">          
                <div class="card-sl" style="margin-top:40px; ">
              <div class="card-image">
                  <img
                      src="{{product.image}}" alt=>
              </div>
              <a class="card-action"><i class="fa fa-shopping-cart fa-lg" (click)="addToCart(product._id)"></i></a>
              <div class="card-heading">
                <h4>{{product.name}}</h4>                                 
                <!-- <span id="first" class="ml-4" style="color: green;">₹ {{product.discountedPrice}} </span>
                <del style="color:red; text-decoration-line: line-through;margin-left:10px">₹ {{product.price}} </del>
                <span class="ml-2" style="color: blue;">{{product.discount}}% Off</span> -->
                <span id="first"  class="ml-4 faiz" style="color: rgb(51, 51, 51);font-size: 24px;font-family:Mier bold;">₹ {{(product.price)-(product.price*product.discount)/100}} </span>
                <del style="color:rgb(153,153,153);font-size: 17px;margin-left:8px;font-family: Mier book;text-decoration: revert;">₹ {{product.price}} </del>
                <span  style="color: rgb(3,141,99);font-size: 20px;font-family: Mier demi;margin-left: 10px;font-weight: 600px;">{{product.discount}}% Off</span>
                  <!-- <div class="icon">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="far fa-star" aria-hidden="true"></i>
                  <i class="far fa-star" aria-hidden="true"></i>
                </div> -->
                <div class="btn-center" style=" display: flex; justify-content: center;">
                <button href="#" class="card-button"   routerLink="/viewMore/{{product._id}}">View More</button>
              </div>
              </div>
          </div>
          </div>
      </div>
  </div>
  <pagination-controls class="pagination" (pageChange)="pageChangeEvent($event)"></pagination-controls>
  </div>
