<div class="mainscreen">
    <div class="card">
        <div class="rightside">
            <form action="">
                <h2>Customer Information</h2>
                <p>Address</p>
                <input type="text" class="inputbox" name="number" required [(ngModel)]="address"/>
                <p>Contact No.</p>
                <input type="text" class="inputbox" name="name" [(ngModel)]="contact" required />
                <label for="">Payment Option</label>
                <select name="" id="sel" class="selector ml-5" (change)="change($event)">
                    <option value="0">Select Option</option>
                    <option value="1">Cash On Delivery</option>
                    <option value="2">Online Payment</option>
                </select>
                <button type="submit" (click)="order()" class="button">Proceed to Order</button>
            </form>
        </div>
    </div>
</div>