body {
    font-family: 'Roboto', sans-serif!important;
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.selector{
    font-size: 1.8rem;
     margin-left: 55px;
}
.mainscreen
{
	min-height: 100vh;
	width: 100%;
	display: flex;
    flex-direction: column;
    /* background-color: #DFDBE5; */
    /* background-image: url("../../../assets/images/backg.jpg"); */
    /* color:#ff9642; */
    position:relative;
    /* border-radius: 1.5rem; */
}
.rightside sel :optional{
    /* margin-left: 10px; */
}

.card {
	width: 50rem;
    margin: auto;
    background: white;
    position:center;
    align-self: center;
    /* top: 50rem; */
    /* border-radius: 1.5rem; */
    /* box-shadow: 4px 3px 20px #3535358c; */
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 3px 5px 0 rgba(0, 0, 0, 0.07);
    display:flex;
    flex-direction: row;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 450px;

    /* margin-bottom: 500px; */
    
}

.leftside {
	/* background: #030303; */
	width: 25rem;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.product {
    object-fit: cover;
	width: 20em;
    height: 20em;
    border-radius: 100%;
}

.rightside {
    background-color: #ffffff;
	width: 35rem;
	border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 1rem 2rem 3rem 3rem;
}

p{
    display:block;
    font-size: 1.8rem;
    font-weight: 400;
    margin: .8rem 0;
    padding-top: 5px;
}
.select{
    margin-top: 50px;
}

.inputbox
{
    color:#030303;
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #615a5a;
    font-size: 1.6rem;
    font-weight: 500;
  outline:none;
}

/* .expcvv {
    display:flex;
    justify-content: space-between;
    padding-top: 0.6rem;
} */

/* .expcvv_text{
    padding-right: 1rem;
}
.expcvv_text2{
    padding:0 1rem;
} */

.button{
    background: linear-gradient(
135deg
, #ff9642 0%, #FFCD38 100%);
    padding: 16px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 19px;
    margin-top: 10px;
    width:60%;
    height: 60px;
    letter-spacing: .11rem;
    outline:none;
    margin-top: 20px;
    display: flex;
    margin: auto;
    margin-top: 53px;
    justify-content: center;
}

.button:hover
{
	transform: scale(1.05) translateY(-3px);
    box-shadow: 3px 3px 6px #38373785;
}

@media only screen and (max-width: 1000px) {
    .card{
        flex-direction: column;
        width: auto;
      
    }

    .leftside{
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
      border-top-right-radius:0;
      border-radius:0;
    }

    .rightside{
        width:auto;
        border-bottom-left-radius: 1.5rem;
        padding:0.5rem 3rem 3rem 2rem;
      border-radius:0;
    }
}

@media only screen and (min-width: 750px) and (max-width: 950px) {
    .button{
        padding: 14px;
      
        font-size: 15px;
        width: 60%;
        height:50px; 
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 750px) {
    .button{
        padding: 14px;
      
        font-size: 13px;
        width: 70%;
        height:45px; 
    }
  }
  @media only screen and (min-width: 10px) and (max-width: 600px) {
    .button{
        padding: 13px;
      
        font-size: 10px;
        width: 90%;
        height:40px; 
    }
  }

  @media only screen and (min-width: 740px) and (max-width: 800px){
      .selector{
          margin-left: 20px;
      }
  }

  @media only screen and (min-width: 680px) and (max-width: 740px){
    .selector{
        margin-left: 20px;
        margin-top: 8px;
    }
}

@media only screen and (min-width: 10px) and (max-width: 680px){
    .selector{
   margin-left: 0px;
        margin-top: 8px;
    }
}
/* padding: 12px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
    width: 60%;
    height: 45px; */