<!-- <app-header></app-header>
<app-nav-links></app-nav-links> -->
<section class="heading">
    <h3 style=" display: flex;
    margin: auto;font-weight: bolder;">About Us</h3>
    
</section>
<section class="about">

    <div class="image">
        <img src="../../../assets/images/hawan copy.jpg" alt="">
    </div>

    <div class="content">
        <span>welcome to our shop</span>
        <h3>we make your life calm and peacful</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam officiis, reiciendis veniam incidunt
            architecto quam velit dolorum exercitationem cum aliquam ab quas dicta dolores ad earum quasis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente adipisci totam, nam voluptates quis
            delectus. Ea quo repudiandae.</p>
        <a href="#" class="btn">Visit Website</a>
    </div>

</section>

<section class="services">

    <h1 class="title"> <span>our services</span> </h1>
    <!-- <a href="#">view all >></a> -->
    <div class="box-container">

        <div class="box" style="margin-right: 15px;">
            <img src="../../../assets/images/icons8-nazi-32.png" alt="">
            <h3>product selling</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quod.</p>
            <!-- <a href="#" class="btn">read more</a> -->
        </div>

        <div class="box" style="margin-right: 15px;">
            <img src="../../../assets/images/icons8-product-64.png" alt="">
            <h3>product making</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quod.</p>
            <!-- <a href="#" class="btn">read more</a> -->
        </div>

        <div class="box">
            <img src="../../../assets/images/serv-3.svg" alt="">
            <h3>24 / 7 support</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quod.</p>
            <!-- <a href="#" class="btn">read more</a> -->
        </div>

    </div>

</section>