<form class="modal-content" action="/action_page.php" >
  <div class="container">
    <h1><b> Book Puja </b></h1>
    <label><b>Date</b></label>
    <input name="date" type="text" placeholder="Please select date" [(ngModel)]="date" [bsConfig]="{ isAnimated: true }"
      bsDatepicker [minDate]="minDate" [maxDate]="maxDate" required>

    <label><b>Time Slots</b>
      <br></label><br><br>

    <input style="border: 1px solid #888; height: 50px;width: 100px; border-radius: 10px; text-align: center;"
      class="test ml-3" name="starttime" matInput [(ngModel)]="startTime" placeholder="start" [ngxMatTimepicker]="picker">
    <ngx-mat-timepicker #picker></ngx-mat-timepicker>

    <!-- <input style="border: 1px solid #888; height: 50px;width: 100px; border-radius: 10px; text-align: center;" matInput
      class="test ml-5" name="endtime" placeholder="end" [(ngModel)]="endTime" [ngxMatTimepicker]="pickers">
    <ngx-mat-timepicker #pickers></ngx-mat-timepicker><br> -->
   <br><br>
    <label><br><b>Contact No.</b>
      <br></label>
    <input type="Number" [(ngModel)]="contact" placeholder="Enter Contact Number" name="contact" required>

    <label><b>Address</b>
      <br></label>
    <input type="address" [(ngModel)]="address" placeholder="address" name="address" required>

    <select (change)="onlinePayment($event)">
      <option><b>Select payment method</b></option>
      <option value="1">Cash On Delievery</option>
      <option value="2">Online payment</option>
    </select>

    <br><br>
    <label for="psw-repeat"><b>Note :- </b> </label><br>
    <p style="padding-left: 45px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam eaque eos ratione
      omnis fugit qui ad ipsa debitis odio magnam?</p>
  </div>
  <button (click)="bookEvent()" class="btn btn-primary">Book</button>
</form>



 <!-- <button change="onlinePayment()" type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      Payment Mode
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" style="padding-top:5px">Cash On Delievery</a>
      <a class="dropdown-item" style="padding-top:10px">Online Payment</a>
    </div> <br><br> -->
