<!-- home section starts  -->

<section class="home">

    <div class="slides-container">
   
        <div class="slide active">
            <div class="content">
                <span>new arrivals</span>
                <h3>Diwali Pujan Samagri</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur quisquam, magnam enim sed debitis perspiciatis.</p>
                <a href="#" class="btn">Shop Now</a>
            </div>
            <div class="image">
                <img src="../../../../assets/images/POOJA_SAMAGRI1.jpg" style="height:35rem;width: min-content;" alt="">
            </div>
        </div>

        <div class="slide">
            <div class="content">
                <span>new arrivals</span>
                <h3>Hawan Samagri</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur quisquam, magnam enim sed debitis perspiciatis.</p>
                <a href="#" class="btn">Shop Now</a>
            </div>
            <div class="image">
                <img src="../../../../assets/images/hawanimage.jpg" style="height: 30rem;width:min-content;" alt="">
            </div>
        </div>
         

    </div>

    <div id="slide-next"  class="fas fa-angle-right" (click)="next()"></div>
    <div id="slide-prev" class="fas fa-angle-left" (click)="prev()" ></div>

</section>

<!-- home section ends -->