/* 

  section {
    padding: 3rem 9%;
  
  }

  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    background: #ff9642;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .btn:hover {
    background: #fdb068;
  }

  .home {
    position: relative;
  }
  

  .home .carousel .carousel-inner .carousel-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
    display: none;
  }
  
  .home .carousel .carousel-inner .carousel-item.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .home .carousel .carousel-inner .carousel-item .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    -webkit-animation: fadeLeft .4s linear .4s backwards;
            animation: fadeLeft .4s linear .4s backwards;
  }
  
  .home .carousel .carousel-inner .carousel-item .content span {
    font-size: 2.5rem;
    color: #779;
  }
  
  .home .carousel .carousel-inner .carousel-item .content h3 {
    font-size: 6rem;
    color: #ffa047;
    padding-top: .5rem;
  }
  
  .home .carousel .carousel-inner .carousel-item .content p {
    font-size: 1.5rem;
    color: #779;
    padding: .5rem 0;
    line-height: 2;
  }
  


  .home .carousel .carousel-inner .carousel-item .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    padding: 3rem 0;
  }
  
  .home .carousel .carousel-inner .carousel-item  img {
    width: 500px;
    -webkit-animation: fadeOut .4s linear;
            animation: fadeOut .4s linear;
            height: 400px;
           
  }
  
  .home #slide-next{
    position: absolute;
    top: 150px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 3rem;
   
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            border: 0.1rem solid #ffa047;
            text-align: center;
            background: #ffa047;
    cursor: pointer;
  }

  .home #slide-prev {
    position: absolute;
    top: 150px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 3rem;

    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid #ffa047;
    text-align: center;
    background: #ffa047;
    cursor: pointer;
    
  }

  .home #slide-next:hover,
  .home #slide-prev:hover {
    background: #f7b578;
    color: #fff;
  }
  
  .home #slide-next {
    right: 2rem;
     margin-right: -100px;
   
   
  }
  
  .home #slide-prev {
    left: 2rem;
   margin-left: -100px;
 
  } 

  @media only screen and (min-width: 300px){
    .home #slide-prev{
      margin-left: -30px;
      margin-top: 250px;
    }
    .home #slide-next{
      margin-right: -30px;
      margin-top: 250px;
    }
    .home .carousel .carousel-inner .carousel-item  img{
      height: 200px;
      width: 400px;
    }
  }

  @media only screen and (min-width: 600px){
    .home #slide-next{
      margin-top: 250px;
      margin-right: -70px;
    }
    .home #slide-prev{
      margin-top: 250px;
      margin-left: -70px;
    }
    .home .carousel .carousel-inner .carousel-item  img{
      height: 440px;
      width: 750px;
    }
  }

  @media only screen and (min-width: 1000px){
    .home .carousel .carousel-inner .carousel-item  img{
      width: 350px;
      height: 300px;
    }
    .home #slide-next {
      right: 2rem;
     margin-right: -100px;
     margin-top: 0px;

    }
    .home #slide-prev{
      left: 2rem;
      margin-left: -100px;
      margin-top: 0px;

    }
  }

  @media only screen and (min-width: 1100px){
    .home .carousel .carousel-inner .carousel-item  img{
      width: 500px;
      height: 400px;
    }
    .home #slide-next {
      right: 2rem;
     margin-right: -100px;
     margin-top: 0px;

    }
    .home #slide-prev{
      left: 2rem;
      margin-left: -100px;
      margin-top: 0px;

    }
  } */



/* 

  section {
    padding: 3rem 9%;
  
  }

  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    background: #ffa047;
    color: #fff;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #fdb068;
  }

  .home {
    position: relative;
  }
  
  
  .home .carousel .carousel-inner .carousel-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
    display: none;
  }
  
  .home .carousel .carousel-inner .carousel-item.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .home .carousel .carousel-inner .carousel-item .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    -webkit-animation: fadeLeft .4s linear .4s backwards;
            animation: fadeLeft .4s linear .4s backwards;
  }
  
  .home .carousel .carousel-inner .carousel-item .content span {
    font-size: 2.5rem;
    color: #779;
  }
  
  .home .carousel .carousel-inner .carousel-item .content h3 {
    font-size: 6rem;
    color: #ffa047;
    padding-top: .5rem;
  }
  
  .home .carousel .carousel-inner .carousel-item .content p {
    font-size: 1.5rem;
    color: #779;
    padding: .5rem 0;
    line-height: 2;
  }
  

  .home .carousel .carousel-inner .carousel-item .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    padding: 3rem 0;
  }
  
  .home .carousel .carousel-inner .carousel-item  img {
    width: 500px;
    -webkit-animation: fadeOut .4s linear;
            animation: fadeOut .4s linear;
            height: 400px;
  }
  
  .home #slide-next{
    position: absolute;
    top: 150px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 3rem;
    
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            border: 0.1rem solid #ffa047;
            text-align: center;
            background: #ffa047;
    cursor: pointer;
  }

  .home #slide-prev {
    position: absolute;
    top: 150px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 3rem;
  
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid #ffa047;
    text-align: center;
    background: #ffa047;
    cursor: pointer;
    
  }

  .home #slide-next:hover,
  .home #slide-prev:hover {
    background: #f7b578;
    color: #fff;
  }
  
  .home #slide-next {
    right: 2rem;
     margin-right: -100px;
    
   
  }
  
  .home #slide-prev {
    left: 2rem;
   margin-left: -100px;
  
  
  }  */
/* 
  @media only screen and (min-width: 300px){
    .home #slide-prev{
      margin-left: -30px;
      margin-top: 250px;
    }
    .home #slide-next{
      margin-right: -30px;
      margin-top: 250px;
    }
    .home .carousel .carousel-inner .carousel-item  img{
      height: 200px;
      width: 400px;
    }
  }

  @media only screen and (min-width: 600px){
    .home #slide-next{
      margin-top: 250px;
      margin-right: -70px;
    }
    .home #slide-prev{
      margin-top: 250px;
      margin-left: -70px;
    }
    .home .carousel .carousel-inner .carousel-item  img{
      height: 440px;
      width: 750px;
    }
  }

  @media only screen and (min-width: 1000px){
    .home .carousel .carousel-inner .carousel-item  img{
      width: 350px;
      height: 300px;
    }
    .home #slide-next {
      right: 2rem;
     margin-right: -100px;
     margin-top: 0px;

    }
    .home #slide-prev{
      left: 2rem;
      margin-left: -100px;
      margin-top: 0px;

    }
  }

  @media only screen and (min-width: 1100px){
    .home .carousel .carousel-inner .carousel-item  img{
      width: 500px;
      height: 400px;
    }
    .home #slide-next {
      right: 2rem;
     margin-right: -100px;
     margin-top: 0px;

    }
    .home #slide-prev{
      left: 2rem;
      margin-left: -100px;
      margin-top: 0px;

    }
  } */
  /* @media only screen and (min-width: 950px){
    .home .carousel .carousel-inner .carousel-item  img{
      height: 400px;
      width: 100%;
    }
  } */