 <section class="home" style="margin-top: 15px;">
    <div id="demo" class="carousel slide" data-ride="carousel" >
      <ul class="carousel-indicators" >
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner" data-slide="100">
        <div class="carousel-item active">
          <div class="content">
            <span>new arrivals</span>
            <h3>Diwali Pujan Samagri</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur quisquam, magnam enim sed debitis perspiciatis.</p>
            <a href="#" class="btn">Shop Now</a>
        </div>
          <div>
          <img src="../../../../assets/images/POOJA_SAMAGRI1.jpg" alt="Los Angeles">
        </div>
            
        </div>
        <div class="carousel-item">
            <div class="content">
                <span>new arrivals</span>
                <h3>Hawan Samagri</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur quisquam, magnam enim sed debitis perspiciatis.</p>
                <a href="#" class="btn">Shop Now</a>
            </div>

          <div>
          <img src="assets/images/hawanimage.jpg" alt="Chicago" >
        </div>
        </div>
       
      </div>
      <a  id="slide-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon" ></span>
      </a>
      <a id="slide-next"   href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
      
    
    
    </div>
    </section>

<!-- 
    <section class="home">
      <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators" style="margin-top: 30px;">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="content">
              <span>new arrivals</span>
              <h3>Diwali Pujan Samagri</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur quisquam, magnam enim sed debitis perspiciatis.</p>
              <a href="#" class="btn">Shop Now</a>
          </div>
            <div>
            <img src="../../../../assets/images/POOJA_SAMAGRI1.jpg" alt="Los Angeles">
          </div>
              
          </div>
          <div class="carousel-item">
              <div class="content">
                  <span>new arrivals</span>
                  <h3>Hawan Samagri</h3>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur quisquam, magnam enim sed debitis perspiciatis.</p>
                  <a href="#" class="btn">Shop Now</a>
              </div>
  
            <div>
            <img src="assets/images/hawanimage.jpg" alt="Chicago" >
          </div>
          </div>
          
        </div>
        <a  id="slide-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon" ></span>
        </a>
        <a id="slide-next"   href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
        
      
      
       
      </div>
      </section>  -->
    