<main class="container">

    <!-- Left Column / Headphones Image -->
    <div class="left-column">
     
<div>
    <img src="{{product.image}}" alt="">

</div>
     
      <div class="comment">
        <p>Comments</p>
      </div>
     
      <div class="media mb-3" style="padding-top: 20px;">
        <a class="featured-entry-thumb" href="#">
          <img src="../../assets/images/hawanimage.jpg" alt="Product thumb" class="img-fluid mr-4" style="height: 50px; width: 50px; border-radius: 50%; margin-top: 5px;">
        </a>
        <div class="media-body" style="justify-content: center;">
          <h3 class="name">faizan</h3>
          <p class="detail">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quos provident tempora, ipsam unde omnis similique totam asperiores rerum nam, et aperiam molestias enim reiciendis rem quod ducimus atque! Incidunt.</p>
  
        </div>
      </div>
  
    </div>
    <!-- Right Column -->
    <div class="right-column">
  
      <!-- Product Description -->
      <div class="product-description">
        <span>{{product.catId.name}}</span>
        <h1>{{product.name}}</h1>
        <h2>{{product.price}}</h2>
        <p style="justify-content: center;" *ngFor="let point of points">{{point}}</p>
      </div>

    </div>
  
  
  
  
    <!-- Product Pricing -->
  
  
  </main>