<div class="container" >
    <div class="row cardimg">
        <div class="col-md-6 col-lg-3" *ngFor="let product of products">
            <div style="display: flex; justify-content: center;">          
                  <div class="card-sl" style="margin-top:40px; ">
                <div class="card-image">
                    <img
                        src="{{product.image}}" alt=>
                </div>
                <a class="card-action"><i class="fa fa-shopping-cart fa-lg" (click)="addToCart(product._id)"></i></a>
                <div class="card-heading">
                  <h4>{{product.name}}</h4>                                 
                  <span id="first" class="ml-4" style="color: green;">₹ {{product.discountedPrice}} </span><del style="color:red; text-decoration-line: line-through;margin-left:10px">₹ {{product.price}} </del><span class="ml-2" style="color: blue;">{{product.discount}}% Off</span>
                    <div class="icon">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                  </div>
                  <div class="btn-center" style=" display: flex; justify-content: center;">
                  <button href="#" class="card-button"   routerLink="/viewMore/{{product._id}}">View More</button>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>