<ngx-spinner
bdColor="#fff"
size="medium"
color="#fff"
type = "ball-clip-rotate"
[fullScreen] = "true"
template="<img src='../../../assets/images/Spinner-1s-200px.gif' />"
>
</ngx-spinner>
<table class="shop_table my_account_orders maintable" *ngIf="orders.length>0">
	<thead>
		<tr id="head" style="margin-left:100px;">
			<th class="order-number">S.No</th>
			<th class="order-date">Total Price</th>
			<th class="order-status">Items</th>
			<th class="order-total">Date</th>
			<th class="order-actions">Full Detils</th>
		</tr>
	</thead>
	<tbody>
		<tr class="order" *ngFor="let order of orders | slice:0:3;index as i">
			<td class="order-number" data-title="Order">
				<a>{{i+1}}</a>
			</td>
			<td class="order-date" data-title="Date">
				<time datetime="2014-06-12" title="1402562157">{{order.amount}}</time>
			</td>
			<td class="order-status" data-title="Status">
				{{order.productList.length}}
			</td>
			<td class="order-total" data-title="Total">
				<span class="amount">{{order.date}}</span>
			</td>
			<td>
				<button type="menu" class="btn btn-warning" data-toggle="modal"
					routerLink="/view-ordered-product/{{order._id}}">Review</button>
			</td>
			
		</tr>
</table>

<h1 *ngIf="orders.length==0" style="color:Red;"></h1>

<!-- Modal -->