body {
    font-family: 'Source Sans Pro', sans-serif;
  }
  .maintable{
      /* margin-left: 400px; */
      margin-top: 50px;
      border: 1px solid #ff9642;
      /* width: 1400px; */
      box-shadow: 10px 10px 8px #38373785;
      margin: auto;
      margin-top: 20px;
      
  }
  a {
    color: #28acd7;
    text-decoration: none;
  }
   .my_account_orders {
    border-collapse: collapse;
    border-spacing: 0;
   width: 800px;
    /* width: 100%; */
  }
  .maintable tbody tr td{
      text-align: center;
  }
  .maintable thead tr td{
    text-align: center;
    /* margin-left: 40px; */
  }
  .head{
      /* margin-left: 50px; */
  }
  .my_account_orders th {
    text-align: center;
    font-size: 20px;
  }
  
  tr {
    border-bottom: 1px solid #ccc;
  }
  
  th,
  td {
    padding: 6px;
    font-size: 15px;
  }
  
  @media 
  only screen and (max-width: 600px) {
    /* Force table to not be like tables anymore */
      table, thead, tbody, th, td, tr { 
          display: block; 
      }
    
      .my_account_orders{
          width: 300px;
      }
    /* Hide table headers (but not display: none;, for accessibility) */
      thead tr { 
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
    
    td { 
          /* Behave  like a "row" */
          border: none;
          border-bottom: 1px solid #eee; 
          position: relative;
          padding-left: 35%; 
      }
    
    td:last-child { 
           border-width: 0;
      }
    
    td:before { 
       content: attr(data-title);
       color: #ccc;
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 6px;
          left: 6px;
          width: 45%; 
          padding-right: 10px; 
          white-space: nowrap;
      }
  }
 @media only screen and (min-width:567px) and (max-width:768px){
    .my_account_orders{
        width: 700px;
    }
 }

 body{background: #eee}

.date{font-size: 11px}

.comment-text{font-size: 12px}

.fs-12{font-size: 12px}

.shadow-none{box-shadow: none}

.name{color: #ff9642}

.cursor{
    color: #314E52;
    padding-bottom: 15px;
}

.cursor{cursor: pointer}

.textarea{resize: none}
.fullbody{
    box-shadow: 0 6px 15px 0 #ff9642;
    width: 400px;
    border-radius: 15px;
    
}
.comment span{
    font-size: 15px;
    color: #314E52;
}
.icon{
    text-align: center;
    color: #ff9642;
    padding-bottom: 5px;
}
.rating > span:hover:before {
    content: "\2605";
    position: absolute;
 }
.image{
   
    text-align: center;
    border-radius:30%;

}
img{
    border-radius: 5%;
}
.comment{
    margin-top: 30px;
   
}
#second{
    background-color: #ff9642;
    height: 30px;
    font-size: 10px;
    border-radius: 15px;
    color: white;
}
h3{
    padding-top: 20px;
    color: #314E52;
}
#first{
    border:1px solid #ff9642;
    height: 30px;
    width: 60px;
    border-radius: 15px;
}

.inputpall{
   font-size: 25px; 
   
}

@media only screen and (min-width:567px) and (max-width:768px){
    .fullbody{
        width: 100%;
    } 
}

@media only screen and (min-width:320px) and (max-width:567px){
    .fullbody{
        width: 100%;
    }   
}
